<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <form action="/cualquiera" method="POST">    
      <input  id="alumna1" type="text" name="email" value="">
      <textarea   name="contenido" id="texarea" cols="30" rows="10"></textarea>  
      
      <button type="submit">Enviar mail</button>
    </form>
</body>
</html>