<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FontAwesome v4.7.0-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/squads.css">
  <title>Document</title>
</head>
<body class="bg-fondo">
    <div class="center-align m-3">      
        <img src="../assets/images/logo.png" alt="logo">
    </div>
    <div class="container">
            <div class="row center-align">
                    <div class="col l3 alumna1 alumnas">
                      <p>SQUAD 1</p>
                    </div>
                    <div class="col l3 alumna2 alumnas">
                       <p>SQUAD 2</p>     
                    </div>
                     <div class="col l3 alumna3 alumnas">
                       <p>SQUAD 3</p>                         
                     </div>
                     <div class="col l3 alumna4 alumnas">
                       <p>SQUAD 4</p>    
                     </div>
            </div>
            <div class="row center-align">
                    <div class="col l3 alumna5 alumnas">
                      <p>SQUAD 5</p>
                    </div>
                    <div class="col l3 alumna6 alumnas">
                       <p>SQUAD 6</p>     
                    </div>
                     <div class="col l3 alumna7 alumnas">
                      <p>SQUAD 7</p>                         
                     </div>
                     <div class="col l3 alumna8 alumnas">
                      <p>SQUAD 8</p>     
                     </div>
            </div>
    </div>
    <div class="container">
        <form class="m-3" action="/cualquiera" method="POST"> 
          <div class="center-align">
              <textarea   class="textarea-w" name="contenido" id="texarea" cols="30" rows="10">ASUNTO:</textarea>
          </div>
          <div class="center-align">  
            
          <ul >     
              <li class="m-2 input-w"> <input  id="alumnas1" type="text" name="email" value=""></li>
              <li class="m-2 input-w"> <input  id="alumnas2" type="text" name="email" value=""></li>
              <li class="m-2 input-w"> <input  id="alumnas3" type="text" name="email" value=""></li>
              <li class="m-2 input-w"> <input  id="alumnas4" type="text" name="email" value=""></li>
              <li class="m-2 input-w"> <input  id="alumnas5" type="text" name="email" value=""></li>
              <li class="m-2 input-w"> <input  id="alumnas6" type="text" name="email" value=""></li>
              <li class="m-2 input-w"> <input  id="alumnas7" type="text" name="email" value=""></li>
              <li class="m-2 input-w"> <input  id="alumnas8" type="text" name="email" value=""></li>       
          </ul>
        </div>  
   
              <button class="boton" type="submit">Enviar mail</button>
  
        </form>

    </div>
  

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script src="../js/table.js"></script>
</body>
</html>