<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Laboratoria</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FontAwesome v4.7.0-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/home.css">  
</head>
<body>
  <section>
    <div class="row">
      <!-- logo laboratoria -->
      <div class="col l3 hide-on-med-and-down white box-logo-lab">
        <img class="image-logo responsive-img" src="../assets/docs/logo-nuevo-lab.png" alt="Logo - Laboratoria">
      </div>
      <!-- nav color de laboratoria -->
      <div class="col s12 l9 color-lab">
          <div class="nav-wrapper show-on-medium-and-down hide-on-large-only">
            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
             
          </div>
      </div>
    </div>
  </section>
  <!--  -->
  <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <div class="background">
          <img src="images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div></li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
  <!-- -->
  <div class="row">
    <div class="col l3 hide-on-med-and-down white div-box-nav">
      <ul>
        <div class="row">
          <ul class="user-box">
            <div class="col l3">
              <img class="responsive-img circle" src="../assets/docs/profile-pic.jpg" alt="Training-manager">
            </div>
            <div class="col l9">
              <li class="name-user">ALEJANDRA RAMIREZ</li>
              <li class="email-user">alejandraramirez@gmail.com</li>
            </div>
          </ul>
        </div>
        <div class="row list-board">
          <li class="text-uppercase box-nav"><i class="fa fa-book icon-nav" aria-hidden="true"></i> mis cursos</li>
          <li class="text-uppercase box-nav"><i class="fa fa-users icon-nav" aria-hidden="true"></i>cohorts</li>
          <li class="text-uppercase box-nav box-sign-out"><i class="fa fa-sign-out icon-nav" aria-hidden="true"></i> cerrar sesión</li>
        </div>
      </ul>
    </div>
    <!-- Empieza el contenido de cohorts-->
    <div class="col s12 l9">
      <div class="row">
        <div class="col s12 l12">
          <h3 class="text-title">Especializaciones</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l5">
          <ul>
            <li class="course-box text-uppercase text-course">front-end</li>
            <li class="course-box text-uppercase text-course">UX-Design</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/sidenav.js"></script>

</body>
</html>