<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Squads</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- carpeta principal -->
  <link rel="stylesheet" href="../css/home.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/squads.css">
</head>
<body>
  <section class="container-fluid">
    <div class="row">
      <!-- logo laboratoria -->
      <div class="col s2 white">
        <img class="image-logo" src="../assets/images/logo-lab.png" alt="Logo - Laboratoria">
      </div>
      <!-- nav color de laboratoria -->
      <div class="col s10 color-lab">
      </div>
    </div>
  </section>
  <!-- -->
  <div class="container-fluid">
    <div class="row">
      <div class="col s2 white">
        <ul>
          <ul class="user-box">
            <li class="name-user">Alejandra Ramirez</li>
            <li class="email-user">alejandraramirez@gmail.com</li>
          </ul>
          <li class="mt text-uppercase">mis cursos</li>
          <li class="mt text-uppercase">cohorts</li>
          <li class="mt text-uppercase">cerrar sesión</li>
        </ul>
      </div>
      <!-- Empieza el contenido de la vista squads-->
      <div class="col s10">
        <h5 class="text-track text-uppercase">Front-end</h5>
        <h3 class="">Sprint 2</h3>
        <h5 class="text-map">Sede Lima</h5>
        <!-- grupo de squads -->
        <div class="group-squads">
          <!-- primer grupo -->
          <div class="squad1">
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <li><span class="name-student">alumna1</span></li>
              <li><span class="name-student">alumna2</span></li>
              <li><span class="name-student">alumna3</span></li>
              <li><span class="name-student">alumna4</span></li>
              <li><span class="name-student">alumna5</span></li>
              <li><span class="name-student">alumna6</span></li>
              <li><span class="name-student">alumna7</span></li>
              <li><span class="name-student">alumna8</span></li>
            </ul>
            <div class="name-jedi">
              <p class="jedi">Jedi:</p>
              <input class="input-jedi" type="text">
            </div>
          </div>
          <!-- segundo squad -->
          <div class="squad1 squad2">
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <li><span class="name-student">alumna1</span></li>
              <li><span class="name-student">alumna2</span></li>
              <li><span class="name-student">alumna3</span></li>
              <li><span class="name-student">alumna4</span></li>
              <li><span class="name-student">alumna5</span></li>
              <li><span class="name-student">alumna6</span></li>
              <li><span class="name-student">alumna7</span></li>
              <li><span class="name-student">alumna8</span></li>
            </ul>
            <div class="name-jedi">
              <p class="jedi">Jedi:</p>
              <input class="input-jedi" type="text">
            </div>
          </div>
          <!-- tercero squad -->
          <div class="squad1 squad3">
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <li><span class="name-student">alumna1</span></li>
              <li><span class="name-student">alumna2</span></li>
              <li><span class="name-student">alumna3</span></li>
              <li><span class="name-student">alumna4</span></li>
              <li><span class="name-student">alumna5</span></li>
              <li><span class="name-student">alumna6</span></li>
              <li><span class="name-student">alumna7</span></li>
              <li><span class="name-student">alumna8</span></li>
            </ul>
            <div class="name-jedi">
              <p class="jedi">Jedi:</p>
              <input class="input-jedi" type="text">
            </div>
          </div>
          <!-- cuarto squad -->
          <div class="squad1">
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <li><span class="name-student">alumna1</span></li>
              <li><span class="name-student">alumna2</span></li>
              <li><span class="name-student">alumna3</span></li>
              <li><span class="name-student">alumna4</span></li>
              <li><span class="name-student">alumna5</span></li>
              <li><span class="name-student">alumna6</span></li>
              <li><span class="name-student">alumna7</span></li>
              <li><span class="name-student">alumna8</span></li>
            </ul>
            <div class="name-jedi">
              <p class="jedi">Jedi:</p>
              <input class="input-jedi" type="text">
            </div>
          </div>
          <!-- segundo grupo -->
        </div>
      </div>
    </div>
  </div>
</body>
</html>