<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Squads</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FontAwesome v4.7.0-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <!-- carpeta principal -->
  <link rel="stylesheet" href="../css/home.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/squads.css">
</head>
<body>
  <section>
    <div class="row">
      <!-- logo laboratoria -->
      <div class="col l3 hide-on-med-and-down white box-logo-lab">
        <img class="image-logo responsive-img" src="../assets/docs/logo-nuevo-lab.png" alt="Logo - Laboratoria">
      </div>
      <!-- nav color de laboratoria -->
      <div class="col s12 l9 color-lab">
      </div>
    </div>
  </section>
  <!-- -->
  <div class="row">
    <div class="col l3 hide-on-med-and-down white div-box-nav">
      <ul>
        <div class="row">
          <ul class="user-box">
            <div class="col l3">
              <img class="responsive-img circle" src="../assets/docs/profile-pic.jpg" alt="Training-manager">
            </div>
            <div class="col l9">
              <li class="name-user">ALEJANDRA RAMIREZ</li>
              <li class="email-user">alejandraramirez@gmail.com</li>
            </div>
          </ul>
        </div>
        <div class="row list-board">
          <li class="text-uppercase box-nav"><i class="fa fa-book icon-nav" aria-hidden="true"></i> mis cursos</li>
          <li class="text-uppercase box-nav"><i class="fa fa-users icon-nav" aria-hidden="true"></i>cohorts</li>
          <li class="text-uppercase box-nav box-sign-out"><i class="fa fa-sign-out icon-nav" aria-hidden="true"></i> cerrar sesión</li>
        </div>
      </ul>
    </div>
    <!-- Empieza el contenido de la vista squads-->
    <div class="col s12 l9">
      <div class="row">
        <div class="col s7 l10">
          <h5 class="text-track text-uppercase">Front - end</h5>
        </div>
        <!-- date -->
        <div class="col s5 l2">
          <div class="date center-align">
            <p>27</p>
            <p>/</p>
            <p>03</p>
            <p>/</p>
            <p>2018</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 l8">
          <h3 class="text-sprint">Sprint 2</h3>
          <h5 class="text-map">Sede Lima</h5>
        </div>
        <div class="col s12 l4">
          <div class="right hide-on-small-only">
            <button id="btn-reorganizar" class="btn waves-effect waves-light amber" name="action">Reorganizar
            </button>
          </div>
          <div class="left hide-on-large-only">
              <button id="btn-reorganizar" class="btn waves-effect waves-light amber" name="action">Reorganizar
              </button>
          </div>
        </div>
      </div>
      
      <!-- grupo de squads -->
      <div class="row">
        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <div id="sq1" data-box="marco-1" class=" dropheigth" style=" margin:5px ; padding: 5px">
            </div>
          </ul>
        </div>

        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <br>
            <div id="sq2" data-box="marco-2"  class=" dropheigth" style=" margin:5px ; padding: 5px">
            </div>
          </ul>
        </div>

        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <br>
            <div id="sq3" data-box="marco-3" class=" dropheigth" style=" margin:5px ; padding: 5px">

            </div>
          </ul>
        </div>
        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <br>
            <div id="sq4" data-box="marco-4" class=" dropheigth" style=" margin:5px ; padding: 5px">

            </div>
          </ul>
        </div>
        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <br>
            <div id="sq5" data-box="marco-5" class=" dropheigth" style=" margin:5px ; padding: 5px">

            </div>
          </ul>
        </div>

        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <br>
            <div id="sq6" data-box="marco-6" class=" dropheigth" style=" margin:5px ; padding: 5px">

            </div>
          </ul>
        </div>

        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <br>
            <div id="sq7" data-box="marco-5" class=" dropheigth" style=" margin:5px ; padding: 5px">

            </div>
          </ul>
        </div>

        <div class="squad1 col l4">
          <ul>
            <div class="name-squad">
              <li class="squad">Squad: <input class="input-squad" type="text"></li>
            </div>
            <br>
            <div id="sq8" data-box="marco-5" class=" dropheigth" style=" margin:5px ; padding: 5px">

            </div>
          </ul>
        </div>
      </div>
      </div>
      
    
    
        
      
          
          
        <!-- fin de número de squads -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s3">
        <button class="text-uppercase waves-effect waves-light btn amber accent-3 btn-confirm modal-trigger" href="#modal1">confirmar</button>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content text-center">
            <p>Los squads quedaron muy bien!</p>
            <p>¿Lista para confirmarle los squads a las estudiantes?</p>
          </div>
          <div class="modal-footer btn-center">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn pink darken-3">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- jQuery -->

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script> 
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!-- carpeta js -->
<script src="../js/squads.js"></script>
<script src="../js/app.js"></script>
</body>
</html>