<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Squads</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FontAwesome v4.7.0-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <!-- carpeta principal -->
  <link rel="stylesheet" href="../css/home.css">
  <!-- carpeta css -->
  <link rel="stylesheet" href="../css/squads.css">
</head>
<body>
  <section class="container-fluid">
    <div class="row">
      <!-- logo laboratoria -->
      <div class="col s2 white box-logo-lab">
        <img class="image-logo" src="../assets/docs/laboratoria-logo.jpeg.jpg" alt="Logo - Laboratoria">
      </div>
      <!-- nav color de laboratoria -->
      <div class="col s10 color-lab">
      </div>
    </div>
  </section>
  <!-- -->
  <div class="container-fluid">
    <div class="row">
      <div class="col s2 white div-box-nav">
        <ul>
          <ul class="user-box">
            <li class="name-user"><i class="fa fa-user-circle user-icon" aria-hidden="true"></i> Alejandra Ramirez</li>
            <li class="email-user">alejandraramirez@gmail.com</li>
          </ul>
          <li class="text-uppercase box-nav"><i class="fa fa-book icon-nav" aria-hidden="true"></i> mis cursos</li>
          <li class="text-uppercase box-nav"><i class="fa fa-users icon-nav" aria-hidden="true"></i>cohorts</li>
          <li class="text-uppercase box-nav box-sign-out"><i class="fa fa-sign-out icon-nav" aria-hidden="true"></i> cerrar sesión</li>
        </ul>
      </div>
      <!-- Empieza el contenido de la vista squads-->
      <div class="col s10">
        <h5 class="text-track text-uppercase">Front - end</h5>
        <h3 class="text-sprint">Sprint 2</h3>
        <h5 class="text-map">Sede Lima</h5>
        <br>
        <!-- select sprint -->
        <select class="browser-default col s3 select-sprint">
          <option value="" disabled selected>Selecciona sprint</option>
          <option value="1">Sprint 1</option>
          <option value="2">Sprint 2</option>
        </select>
        <!-- date -->
        <div class="widget">
          <div class="date">
            <p class="day">27</p>
            <p>/</p>
            <p class="month">03</p>
            <p>/</p>
            <p class="year">18</p>
          </div>
        </div>
        <div class="center-align">
          <button id="btn-reorganizar" class="btn waves-effect waves-light btn-color" name="action">Reorganizar
          </button>
        </div>
        <!-- grupo de squads -->
        <div class="group-squads">
          <!-- primer grupo -->
          <div class="squad1"  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
             
              <br>
              <div id="sq1" data-box="marco-1" class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
              
           
              
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div>
          <!-- segundo grupo -->
          <div class="squad1"  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <div id="sq2" data-box="marco-2"  class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
             
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div>
          <!-- tercer grupo -->
          <div class="squad1"  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <div id="sq3" data-box="marco-3" class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
      
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div>
          <!-- cuarto grupo -->
          <div class="squad1"  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <div id="sq4" data-box="marco-4" class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
            
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div><br><br><br>
          <!-- quinto grupo -->
          <div class="squad1 "  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <div id="sq5" data-box="marco-5" class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
         
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div>
          <!-- sexto grupo -->
          <div class="squad1 "  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <div id="sq6" data-box="marco-6" class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
         
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div>
          <!-- séptimo grupo -->
          <div class="squad1 "  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <div id="sq7" data-box="marco-5" class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
         
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div>
          <!-- octavo grupo -->
          <div class="squad1 "  >
            <ul>
              <div class="name-squad">
                <li class="squad">Squad: <input class="input-squad" type="text"></li>
              </div>
              <br>
              <div id="sq8" data-box="marco-5" class=" dropheigth" style=" margin:5px ; padding: 5px">

              </div>
         
              <div class="name-jedi">
                <li class="jedi">Jedi: <input class="input-jedi" type="text"></li>
              </div>
            </ul>
          </div>

           
          <!-- fin de número de squads -->
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s3">
        <button class="text-uppercase waves-effect waves-light btn amber accent-3 btn-confirm modal-trigger" href="#modal1">confirmar</button>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content text-center">
            <p>Los squads quedaron muy bien!</p>
            <p>¿Lista para confirmarle los squads a las estudiantes?</p>
          </div>
          <div class="modal-footer btn-center">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn pink darken-3">Aceptar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- jQuery -->

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script> 
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!-- carpeta js -->
<script src="../js/squads.js"></script>
<script src="../js/app.js"></script>
</body>
</html>