*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffc107;
}
.arrow2{
  top: 0.6em;
  left: 0.1em;
  position: relative;
  display: none;
}
.arrow2, .arrow3{
  height: 9vh;
  width: 14vh;
}
.arrow3{
  position: absolute !important;
  top: 3em;
  left: 12em;
  display: none;
}
.box-sign-up{
  background-color: #fff;
  border-radius: 1vh;
  padding: 1em;
  position: relative;
  top: 3em;
}
.logo-laboratoria {
  display: flex;
  height: 50%;
  margin: auto;
  padding-top: 1em;
  width: 80%;
}
.email-box, .password-box{
  width: 80%;
  margin: auto;
  display: flex;
}
.box-enter-account{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  position: relative;
  padding-bottom: 1em;
}
@media (min-width:400px){
  .box-sign-up{
    width: 80%;
    left: 3em;
  }
}
@media (min-width: 600px){
  .btn-send, .btn-google{
    width: 33vh !important;
    height: 7vh;
    margin-left: 0 !important;
  }
}
@media (min-width:770px){
  .box-sign-up{
    width: 60% !important;
    left: 11em;
    top: 7em;
    position: absolute;
    margin: auto !important;
  }
}
@media (min-width:940px){
  .box-sign-up{
    width: 50% !important;
    left: 17em;
    top: 7em;
    position: absolute;
  }
}
@media (min-width:990px){
  .box-sign-up{
    width: 40% !important;
    left: 22em !important;
    top: 7em;
    position: absolute;
  }
}
@media (min-width:1300px) {
  .box-sign-up{
    width: 30% !important;
    left: 32em !important;
    top: 7em;
    position: absolute;
  }
}