*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffc107;
}
.arrow2, .arrow3{
  width: 65%;
  height: 30%;
}
.arrow2{
  position: absolute;
  top: 1em;
  left: 1em;
}
.arrow3{
  bottom: 1em !important;
  right: 1em !important;
  margin-right: 0;
  position: absolute;
}
.box-sign-up{
  background-color: #fff;
  width: 90%;
  height: 45%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 2em;
  border-radius: 1vh;
  box-shadow: 1px 1px 3px;
}
.logo-laboratoria {
  width: 70%;
  height: 40%;
  margin-bottom: 1.4em !important;
  margin: auto;
  display: flex;
}
.btn-send, .btn-google{
  width: 25vh !important;
  margin: auto !important;
  color: #fff;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-send{
  background-color: #ffc107;
}
.btn-google{
  background-color: #ea4335;
}
.text-signup-google{
  width: 10vh !important;
  display: flex;
  position: relative;
  top: -1em;
}
.btn-send:hover{
  background-color: #cc9d0f;
}

.btn-google:hover{
  background-color: #a02017;
}
.text-signup-google{
  width: 50% !important;
  display: flex !important;
  flex-flow: row;
  line-height: 0.3em !important;
}
@media (min-width: 320px){
  .box-sign-up{ 
    width: 80%;
    height: 70%;
    z-index: 100;
  }
  .arrow2, .arrow3{
    width: 20vh;
    height: 10vh;
  }
  .btn-google, .btn-send{
    width: 60% !important;
    font-size: 0.8em;
  }
  .email-box, .password-box{
    margin: 0;
  }
  .text-signup-google{
    margin: 0 auto !important;
    top: -2.5em;
    left: 1.5em;
    font-size: 0.8em;
  }
}
@media (max-width:660px) {
  .box-sign-up{
    width: 70% !important;
  }
}
@media (max-width:751px) {
  .box-sign-up{
    width: 55% !important;
    height: 70%;
  }
  .btn-send, .btn-google{
    position: relative;
    left: 50% !important;
  }
  .password-box{
    width: 100% !important;
  }
}
@media (max-width:940px) {
  .box-sign-up{
    width: 50%;
    height: 75%;
  }
  .btn-send, .btn-google{
    position: relative;
    left: 50% !important;
  }
  .password-box{
    width: 100% !important;
  }
}
@media (max-width:1170px) {
  .box-sign-up{
    width: 50%;
    height: 75%;
  }
  .btn-send, .btn-google{
    position: relative;
    left: 50% !important;
  }
  .password-box{
    width: 100% !important;
  }
}
@media (max-width:1300px) {
  @media (max-width:1170px) {
    .box-sign-up{
      width: 35%;
      height: 75%;
    }
    .btn-send, .btn-google{
      position: relative;
      left: 50% !important;
    }
    .password-box{
      width: 100% !important;
    }
  }
}